.react-calendar {
    width: 400px;
    max-width: 100%;
    background-color: #f0f7fd;
    color: #222;
    border-radius: 16px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

.react-calendar__navigation button {
    color: #3a7ca5;
    min-width: 44px;
    background: none;
    font-size: 18px;
    margin-top: 8px;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: #cfe4f2;
}

.react-calendar__navigation button[disabled] {
    background-color: #cfe4f2;
}

abbr[title] {
    text-decoration: none;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background: #cfe4f2;
    color: #3a7ca5;
    border-radius: 8px;
}

.react-calendar__tile--now {
    background: #aee6e6;
    border-radius: 8px;
    font-weight: bold;
    color: #3a7ca5;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: #aee6e6;
    border-radius: 8px;
    font-weight: bold;
    color: #3a7ca5;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background: #cfe4f2;
}

.react-calendar__tile--active {
    background: #3a7ca5;
    border-radius: 8px;
    font-weight: bold;
    color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: #3a7ca5;
    color: white;
}

.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #cfe4f2;
}

.react-calendar__tile--range {
    background: #cfe4f2;
    color: #3a7ca5;
    border-radius: 0;
}

.react-calendar__tile--rangeStart {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background: #3a7ca5;
    color: white;
}

.react-calendar__tile--rangeEnd {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background: #3a7ca5;
    color: white;
}