/* Center the content vertically and horizontally */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 84vh;
    margin-top: 5%;
    background-color: #022b4e; /* Dark blue background color */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
  
  .container {
    text-align: center;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    width: auto;
    border-radius: 10px;
    border-style:solid;
    border-width: 10px;
    border-color: rgb(23, 143, 207);
}

.add-form {
  display: inline-block;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
}

.add-form input:focus{
  outline: 3px solid rgb(0, 0, 0);
}
.form-control {
  margin-bottom: 20px;
  font-size: 20px;
  }

.calendar {
  border-radius: 10px;
  border-style:solid;
  border-width: 5px;
  border-color: rgb(23, 143, 207);

}
.btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff; /* Blue button color */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3; /* Darker blue on hover */
}


.date-time-display {
  font-weight: bold;
  color: black;
  display: block;
  margin-top: 5px;

  }
  
  .upcoming-tasks {
  position: absolute;
  top: 11.5%;
  left: 3%;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  border-style:solid;
  border-width: 10px;
  border-color: rgb(23, 143, 207);
  min-height: 8vh;
  max-width: 25%;
  min-width: 25%;
  overflow: hidden;
  }


  .upcoming-tasks h3 {
    position: absolute;
    font-size: 25px;
    color: rgb(9, 136, 205);
    font-weight: bold;
    margin: 0px;
    max-width: 80%;
    
  }
  .upcoming-tasks p {
    position: relative;
    margin-top: -2%;
  }
 
  .long-term-tasks {  
    position: absolute;
    top: 11.5%;
    right: 3%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    border-style:solid;
    border-width: 10px;
    border-color: rgb(23, 143, 207);
    min-height: 8vh;
    max-width: 25%;
    min-width: 25%;
    margin-bottom: 10%;
    overflow: hidden;

  }

  .long-term-tasks h3 {
    position: absolute;
    font-size: 25px;
    color: rgb(9, 136, 205);
    font-weight: bold;
    margin: 0px;
    max-width: 80%;
  }
  .long-term-tasks p {
    position: relative;
    margin-top: -2%;
  }
  .upcoming-tasks-header {
    color: white;
    position: absolute;
    top: 40px;
    left: 8%;

  }
  .tasks-long-header {
    color: white;
    position: absolute;
    top: 40px;
    right: 8%;

  }

  .completed-tasks{
    position:relative;
    top: 80%;
    left: 0%;
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    min-width: 87%;
    border-radius: 10px;
    border-style:solid;
    border-width: 10px;
    border-color: rgb(23, 143, 207);
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .icon{
    position: relative;
    font-size: 35px;
    cursor: pointer;

  }
  
  .icon:hover{
    color: rgb(255, 0, 0);
  
  }
  
  .check-icon{
    position: relative;
    margin-right: 2%;
    font-size: 30px;
    cursor: pointer;
    margin-left: 80%;
    margin-bottom: 0px;
  }
  
  .check-icon:hover{
    color: rgb(0, 255, 0);
  }
